ion-split-pane {
    ion-menu {
        ion-content {
            --background: radial-gradient(circle, var(--ion-color-secondary) 0%, var(--ion-color-primary) 100%);
            ion-list {
                background: transparent;
                text-transform: uppercase;
                color: var(--ion-color-dark);
                font-family: Helvetica;
                font-size: 18px;
                ion-item {
                    --background: transparent;
                    color: var(--ion-color-dark);
                    ;
                    app-avatar {
                        width: 50px;
                        height: 50px;
                        margin-right: 5px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border: 1px solid var(--ion-color-dark);
                        ;
                    }
                    ion-label {
                        P {
                            color: var(--ion-color-dark);
                        }
                    }
                }
                ion-menu-toggle {
                    ion-item {
                        --background: transparent;
                        color: var(--ion-color-dark);
                        ion-note {
                            display: inline-block;
                            font-size: 16px;
                            color: var(--ion-color-medium-shade);
                        }
                        &.selected {
                            --color: var(--ion-color-primary);
                        }
                    }
                }
            }
        }
        &.md {
            ion-content {
                --padding-start: 8px;
                --padding-end: 8px;
                --padding-top: 20px;
                --padding-bottom: 20px;
                ion-list {
                    padding: 0;
                    ion-list-header {
                        font-size: 22px;
                        font-weight: 600;
                        min-height: 20px;
                    }
                }
                ion-item {
                    --padding-start: 10px;
                    --padding-end: 10px;
                    border-radius: 4px;
                    ion-label {
                        font-weight: 500;
                    }
                    ion-icon {
                        color: var(--ion-color-dark);
                    }
                    &.selected {
                        --background: rgba(var(--ion-color-primary-rgb), 0.14);
                        ion-icon {
                            color: var(--ion-color-dark);
                        }
                    }
                }
            }
            ion-note {
                margin-bottom: 30px;
                padding-left: 10px;
            }
            ion-list-header {
                padding-left: 10px;
            }
        }
        &.ios {
            ion-content {
                --padding-bottom: 20px;
                ion-list {
                    padding: 20px 0 0 0;
                    ion-item {
                        --padding-start: 16px;
                        --padding-end: 16px;
                        --min-height: 50px;
                        ion-icon {
                            font-size: 24px;
                            color: var(--ion-color-dark);
                        }
                        &.selected {
                            ion-icon {
                                color: var(--ion-color-dark);
                            }
                        }
                    }
                    ion-note {
                        line-height: 24px;
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }
}