<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-title>Login</ion-title>
        <ion-buttons slot="primary">
            <ion-button color="danger" (click)="onDismiss(false)">
                <ion-icon name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <!-- <img src="/assets/logo.png" /> -->
    <form [formGroup]="form" (submit)="onSignIn()" class="login-form">
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-text color="primary">
                        <h3>Welcome Back</h3>
                    </ion-text>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label position="floating">Email</ion-label>
                        <ion-input type="email" formControlName="email"></ion-input>
                        <ion-icon name="mail-outline" color="primary" slot="end"></ion-icon>
                    </ion-item>
                    <ion-item lines="none" *ngIf="formCtrls.email.errors && formCtrls.email.touched">
                        <ion-label *ngIf="formCtrls.email.errors.required">
                            <ion-note color="danger">Email is required!</ion-note>
                        </ion-label>
                        <ion-label *ngIf="formCtrls.email.errors.maxlength">
                            <ion-note color="danger">Only 50 max characters allowed.</ion-note>
                        </ion-label>
                        <ion-label *ngIf="formCtrls.email.errors.email">
                            <ion-note color="danger">Invalid email format.</ion-note>
                        </ion-label>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label position="floating">Password</ion-label>
                        <ion-input type="password" formControlName="password"></ion-input>
                        <ion-icon name="lock-closed-outline" color="primary" slot="end"></ion-icon>
                    </ion-item>
                    <ion-item lines="none" *ngIf="formCtrls.password.errors && formCtrls.password.touched">
                        <ion-label *ngIf="formCtrls.password.errors.required">
                            <ion-note color="danger">Password is required!</ion-note>
                        </ion-label>
                        <ion-label *ngIf="formCtrls.password.errors.maxlength">
                            <ion-note color="danger">Only 12 max characters allowed.</ion-note>
                        </ion-label>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-button expand="block" type="submit" [disabled]="!form.valid">
                        Login
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>