ion-header {
    ion-toolbar {
        --color: var(--ion-color-primary);
    }
}

ion-content {
    display: flex;
    text-align: center;
    img {
        width: 50%;
    }
    form {
        ion-card {
            ion-card-content {
                ion-item {
                    ion-icon {
                        position: relative !important;
                        top: 28px !important;
                        margin: 0 auto !important;
                    }
                }
            }
        }
    }
}