<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-title>Update</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="onDismiss(false)" color="danger">
                <ion-icon slot="icon-only" name="close-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

    <form [formGroup]="form" (submit)="onUpdate()">
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-item lines="none">
                        <ion-label class="ion-text-wrap">
                            <ion-text color="primary">
                                <p>All fields are required.</p>
                            </ion-text>
                        </ion-label>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label position="stacked">First name</ion-label>
                        <ion-input formControlName="firstname"></ion-input>
                    </ion-item>
                    <ion-item lines="none" *ngIf="formCtrls.firstname.errors && formCtrls.firstname.touched">
                        <ion-label *ngIf="formCtrls.firstname.errors.required">
                            <ion-note color="danger">Firstname is required!</ion-note>
                        </ion-label>
                        <ion-label *ngIf="formCtrls.firstname.errors.maxlength">
                            <ion-note color="danger">Only 50 max characters allowed.</ion-note>
                        </ion-label>
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-item>
                        <ion-label position="stacked">MI</ion-label>
                        <ion-input formControlName="midlename"></ion-input>
                    </ion-item>
                    <ion-item lines="none" *ngIf="formCtrls.midlename.errors && formCtrls.midlename.touched">
                        <ion-label *ngIf="formCtrls.midlename.errors.required">
                            <ion-note color="danger">Middle Initial is required!</ion-note>
                        </ion-label>
                        <ion-label *ngIf="formCtrls.midlename.errors.maxlength">
                            <ion-note color="danger">Only 2 max characters allowed.</ion-note>
                        </ion-label>
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-item>
                        <ion-label position="stacked">Last name</ion-label>
                        <ion-input formControlName="lastname"></ion-input>
                    </ion-item>
                    <ion-item lines="none" *ngIf="formCtrls.lastname.errors && formCtrls.lastname.touched">
                        <ion-label *ngIf="formCtrls.lastname.errors.required">
                            <ion-note color="danger">Lastname is required!</ion-note>
                        </ion-label>
                        <ion-label *ngIf="formCtrls.lastname.errors.maxlength">
                            <ion-note color="danger">Only 50 max characters allowed.</ion-note>
                        </ion-label>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label position="stacked">Gender</ion-label>
                        <ion-select formControlName="gender">
                            <ion-select-option value="male">Male</ion-select-option>
                            <ion-select-option value="female">Female</ion-select-option>
                        </ion-select>
                    </ion-item>
                    <ion-item lines="none" *ngIf="formCtrls.gender.errors && formCtrls.gender.touched">
                        <ion-label *ngIf="formCtrls.gender.errors.required">
                            <ion-note color="danger">Gender is required!</ion-note>
                        </ion-label>
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-item>
                        <ion-label position="stacked">Calssification</ion-label>
                        <ion-select formControlName="classification">
                            <ion-select-option *ngFor="let classification of classifications" [value]="classification.name">{{classification.name}}</ion-select-option>
                        </ion-select>
                    </ion-item>
                    <ion-item lines="none" *ngIf="formCtrls.classification.errors && formCtrls.classification.touched">
                        <ion-label *ngIf="formCtrls.classification.errors.required">
                            <ion-note color="danger">Classification is required!</ion-note>
                        </ion-label>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label position="stacked">Address 1</ion-label>
                        <ion-input formControlName="address1" placeholder="Address Line 1"></ion-input>
                    </ion-item>
                    <ion-item lines="none" *ngIf="formCtrls.address1.errors && formCtrls.address1.touched">
                        <ion-label *ngIf="formCtrls.address1.errors.required">
                            <ion-note color="danger">Address line 1 is required!</ion-note>
                        </ion-label>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label position="stacked">Address 2</ion-label>
                        <ion-input formControlName="address2" placeholder="Address Line 2"></ion-input>
                    </ion-item>
                    <ion-item lines="none" *ngIf="formCtrls.address2.errors && formCtrls.address2.touched">
                        <ion-label *ngIf="formCtrls.address2.errors.required">
                            <ion-note color="danger">Address line 2 is required!</ion-note>
                        </ion-label>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label position="stacked">City</ion-label>
                        <ion-input formControlName="city" placeholder="City"></ion-input>
                    </ion-item>
                    <ion-item lines="none" *ngIf="formCtrls.city.errors && formCtrls.city.touched">
                        <ion-label *ngIf="formCtrls.city.errors.required">
                            <ion-note color="danger">City is required!</ion-note>
                        </ion-label>
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-item>
                        <ion-label position="stacked">State</ion-label>
                        <ion-input formControlName="state" placeholder="State"></ion-input>
                    </ion-item>
                    <ion-item lines="none" *ngIf="formCtrls.state.errors && formCtrls.state.touched">
                        <ion-label *ngIf="formCtrls.state.errors.required">
                            <ion-note color="danger">State is required!</ion-note>
                        </ion-label>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label position="stacked">Country</ion-label>
                        <ion-select formControlName="country">
                            <ion-select-option [value]="option.value" *ngFor="let option of countries">{{ option.viewValue }}</ion-select-option>
                        </ion-select>
                    </ion-item>
                    <ion-item lines="none" *ngIf="formCtrls.country.errors && formCtrls.country.touched">
                        <ion-label *ngIf="formCtrls.country.errors.required">
                            <ion-note color="danger">Country is required!</ion-note>
                        </ion-label>
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-item>
                        <ion-label position="stacked">ZIP</ion-label>
                        <ion-input formControlName="postalCode" placeholder="Zip Code"></ion-input>
                    </ion-item>
                    <ion-item lines="none" *ngIf="formCtrls.postalCode.errors && formCtrls.postalCode.touched">
                        <ion-label *ngIf="formCtrls.postalCode.errors.required">
                            <ion-note color="danger">Zip code is required!</ion-note>
                        </ion-label>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-button expand="block" (click)="onUpdate()" [disabled]="!form.valid">
                        Update
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>