<ion-content>
    <ion-slides pager="false" [options]="slideOpts" #slideWithNav (ionSlideDidChange)="onSlideDidChange(slideWithNav)">
        <ion-slide>
            <!-- <img src="/assets/images/hand1.png" /> -->
            <div class="slide-content">
                <h2>Book offer</h2>
                <p><b>cutsonwheel</b> allows to book an offer to any kind of services.</p>
            </div>
        </ion-slide>

        <ion-slide>
            <!-- <img src="/assets/images/hand2.png" /> -->
            <div class="slide-content">
                <h2>Accept offer</h2>
                <p><b>cutsonwheel</b> allows you to accept any kind of offers inside the platform and pay as you serve.</p>
            </div>
        </ion-slide>

        <ion-slide>
            <!-- <img src="/assets/images/tiny.png" /> -->
            <div class="slide-content">
                <h2>You can do a lot More</h2>
                <p>The <b>cutsonwheel</b> is a is a mobile that supports offers, booking, etc...</p>
            </div>
        </ion-slide>

        <ion-slide>
            <h1>Welcome to <br/>
                <small>ver: {{appVer}}</small></h1>
            <img src="/assets/images/logo.png" />
            <ion-button color="primary" shape="round" (click)="onRegisterOpen()">Register me</ion-button>
            <ion-button fill="outline" shape="round" (click)="onLoginOpen()">I have an account</ion-button>
        </ion-slide>
    </ion-slides>

    <div class="slide-actions">
        <ion-button (click)="onSlidePrev(slideWithNav)"> Back </ion-button>
        <ion-button (click)="onSlideNext(slideWithNav)" *ngIf="!isEnd"> Next </ion-button>
    </div>
</ion-content>