<ion-content>
    <ion-slides pager="false" [options]="slideOpts" #slideWithNav (ionSlideDidChange)="onSlideDidChange(slideWithNav)">
        <ion-slide>
            <img src="/assets/images/hand1.png" />
            <div class="slide-content">
                <h2>Sent Letter Mails</h2>
                <p><b>ijomails</b> is an open source SDK that enables developers to build high quality mobile apps with web technologies like HTML, CSS, and JavaScript.</p>
            </div>
        </ion-slide>

        <ion-slide>
            <img src="/assets/images/hand2.png" />
            <div class="slide-content">
                <h2>Yes, To Paperless</h2>
                <p><b>ijomails</b> is a powerful set of services and features built a totally new level of app development agility to mobile dev teams.</p>
            </div>
        </ion-slide>

        <ion-slide>
            <img src="/assets/images/tiny.png" />
            <div class="slide-content">
                <h2>You can do a lot More</h2>
                <p>The <b>ijomails</b> is a is a mobile that uspports paperless mail, payments, invoices, etc...</p>
            </div>
        </ion-slide>

        <ion-slide>
            <h1>Welcome to <br/>
                <small>ver: {{appVer}}</small></h1>
            <img src="/assets/logo.png" />
            <ion-button color="primary" shape="round" (click)="onRegisterOpen()">Register me</ion-button>
            <ion-button fill="outline" shape="round" (click)="onLoginOpen()">I have an account</ion-button>
        </ion-slide>
    </ion-slides>

    <div class="slide-actions">
        <ion-button (click)="onSlidePrev(slideWithNav)"> Back </ion-button>
        <ion-button (click)="onSlideNext(slideWithNav)" *ngIf="!isEnd"> Next </ion-button>
    </div>
</ion-content>