<ion-content>
    <ion-slides pager="false" [options]="slideOpts" #slideWithNav (ionSlideDidChange)="onSlideDidChange(slideWithNav)">
        <ion-slide>
            <img src="/assets/images/1.png" />
            <div class="slide-content">
                <h2>Be our partner</h2>
                <p>Partnering <b>cutsonwheel</b> is the best choice you choose, as a growing company your presence will boast not just on your current area.</p>
            </div>
        </ion-slide>

        <ion-slide>
            <img src="/assets/images/2.png" />
            <div class="slide-content">
                <h2>Be our team</h2>
                <p>Being a <b>cutsonwheel</b> member you cannot lose your job in fact you can earn more by using our mobile app platform.</p>
            </div>
        </ion-slide>

        <ion-slide>
            <img src="/assets/images/3.png" />
            <div class="slide-content">
                <h2>Be our PRO</h2>
                <p>Being a <b>cutsonwheel</b> employee is what others really want not just because of exiting working nature but a full of support and benefits be given.</p>
            </div>
        </ion-slide>

        <ion-slide>
            <h1>Welcome to <br/>
                <small>ver: {{appVer}}</small></h1>
            <img src="/assets/images/icon.png" />
            <ion-button color="primary" shape="round" (click)="onRegisterOpen()">Register me</ion-button>
            <ion-button fill="outline" shape="round" (click)="onLoginOpen()">I have an account</ion-button>
        </ion-slide>
    </ion-slides>

    <div class="slide-actions">
        <ion-button (click)="onSlidePrev(slideWithNav)"> Back </ion-button>
        <ion-button (click)="onSlideNext(slideWithNav)" *ngIf="!isEnd"> Next </ion-button>
    </div>
</ion-content>