<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/pages"></ion-back-button>
        </ion-buttons>
        <ion-title>Settings</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Settings</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-list-header>
        <ion-label>preferred currency</ion-label>
    </ion-list-header>
    <ion-list>
        <ion-item button (click)="onChangeCurrency()" detail>
            <ion-label>Currency</ion-label>
            <ion-note slot="end">{{defaultCurrency$ | async}}</ion-note>
        </ion-item>
    </ion-list>

</ion-content>