<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/pages"></ion-back-button>
        </ion-buttons>
        <ion-title>Receipt</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Receipt</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-list>
        <ion-list-header>
            <ion-label>Current Receipt</ion-label>
        </ion-list-header>
        <ng-container *ngIf="receipts$ | async; let receipts; else loadingReceipts">

            <ion-item-sliding *ngFor="let receipt of receipts" #slidingItem>
                <!--button (click)="onDeail(receipt, slidingItem)" detail-->
                <ion-item lines="full">
                    <ion-label>
                        <h2>Txns Date: {{ receipt.transactionCollection.timestamp.toDate() | date:'mediumDate' }}</h2>
                        <p [ngClass]="receipt.transactionCollection.status">{{ receipt.transactionCollection.status | titlecase }}</p>
                    </ion-label>
                    <ion-note slot="end" [ngStyle]="{'color':receipt.transactionCollection.amount > 0 ? 'green' : 'red' }"><strong>{{ receipt.transactionCollection.amount | currency:defaultCurrency:'symbol-narrow' }}</strong></ion-note>
                </ion-item>
            </ion-item-sliding>
            <ion-item lines="none" class="ion-text-center" *ngIf="receipts.length === 0">
                <ion-label>
                    <p>No receipt found</p>
                </ion-label>
            </ion-item>

        </ng-container>
        <ng-template #loadingReceipts>
            <ion-item lines="full" *ngFor="let item of [1,2,3,4,5,6,7,8,9,10]">
                <ion-label>
                    <h2>
                        <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
                    </h2>
                    <p>
                        <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
                    </p>
                </ion-label>
                <ion-note slot="end">
                    <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
                </ion-note>
            </ion-item>
        </ng-template>
    </ion-list>
</ion-content>