ion-header {
    ion-toolbar {
        &:not(.filters) {
            --background: radial-gradient(circle, var(--ion-color-secondary) 0%, var(--ion-color-primary) 100%);
            background: radial-gradient(circle, var(--ion-color-secondary) 0%, var(--ion-color-primary) 100%);
            padding: 0 10px;
            color: var(--ion-color-primary-contrast);
        }
    }
}