<ng-container *ngIf="user$ | async as user; else elseTemplate">
    <ion-item lines="full" (click)="emitData()" detail>
        <ion-avatar slot="start">
            <ng-container *ngIf="user[0].user.photoURL; else elseDummy">
                <img [src]="user[0].user.photoURL" />
            </ng-container>
            <ng-template #elseDummy>
                <ion-img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48cGF0aCBmaWxsPSIjYzVkYmZmIiBkPSJNMCAwaDUxMnY1MTJIMHoiLz48cGF0aCBkPSJNMjU2IDMwNGM2MS42IDAgMTEyLTUwLjQgMTEyLTExMlMzMTcuNiA4MCAyNTYgODBzLTExMiA1MC40LTExMiAxMTIgNTAuNCAxMTIgMTEyIDExMnptMCA0MGMtNzQuMiAwLTIyNCAzNy44LTIyNCAxMTJ2NTZoNDQ4di01NmMwLTc0LjItMTQ5LjgtMTEyLTIyNC0xMTJ6IiBmaWxsPSIjODJhZWZmIi8+PC9zdmc+"></ion-img>
            </ng-template>
        </ion-avatar>
        <ion-label>
            <h3>{{ user[1].name.lastname }} {{ user[1].name.firstname }}</h3>
            <p>{{ user[1].classification }}</p>
        </ion-label>
        <ng-container>
            <!-- <ion-note slot="end" [ngClass]="status">6 services</ion-note> -->
        </ng-container>

    </ion-item>
</ng-container>
<ng-template #elseTemplate>
    <ion-item lines="full">
        <ion-avatar slot="start">
            <ion-skeleton-text></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
            <h2>
                <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
            </h2>
            <p>
                <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
            </p>
        </ion-label>
    </ion-item>
</ng-template>