ion-header {
    ion-toolbar {
        --color: var(--ion-color-primary);
        ;
    }
}

ion-content {
    form {
        ion-card {
            ion-card-content {
                ion-list {
                    ion-item {
                        ion-note {
                            &.suffix {
                                font-size: 16px;
                                padding: 12px 0px 10px;
                                margin-inline-start: 0px;
                                --color: initial;
                            }
                        }
                    }
                }
            }
        }
    }
}