ion-header {
    ion-toolbar {
        --background: radial-gradient(circle, var(--ion-color-secondary) 0%, var(--ion-color-primary) 100%);
        background: radial-gradient(circle, var(--ion-color-secondary) 0%, var(--ion-color-primary) 100%);
        padding: 0 10px;
        color: var(--ion-color-primary-contrast);
    }
}

ion-content {
    ion-list-header {
        color: var(--ion-color-primary);
        font-size: 18px;
        letter-spacing: 0;
        line-height: 22px;
        text-transform: uppercase;
    }
}

ion-footer {
    ion-toolbar {
        ion-button {
            margin: 0px 12px;
        }
    }
}