<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-title>{{title | titlecase}}</ion-title>
        <ion-buttons slot="primary">
            <ion-button color="danger" (click)="onDismiss(false)">
                <ion-icon name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">{{title | titlecase}}</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-card class="ion-no-padding ion-no-margin no-box-shadow" color="secondary">
        <ng-container *ngIf="offer$ | async as offer; else elseOffer">
            <ion-card-header>
                <ion-card-subtitle>Posted: {{offer.timestamp.toDate() | date}}</ion-card-subtitle>
                <ion-card-title>{{offer.title}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                {{offer.description}}
                <ion-item lines="none" color="tertiary">
                    <ion-thumbnail slot="start">
                        <ng-container *ngIf="offer.imageUrl; else elseDummy">
                            <img (click)="onPickSource()" [src]="offer.imageUrl" />
                        </ng-container>
                        <ng-template #elseDummy>
                            <ion-img (click)="onPickSource()" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48cGF0aCBmaWxsPSIjYzVkYmZmIiBkPSJNMCAwaDUxMnY1MTJIMHoiLz48cGF0aCBkPSJNMjU2IDMwNGM2MS42IDAgMTEyLTUwLjQgMTEyLTExMlMzMTcuNiA4MCAyNTYgODBzLTExMiA1MC40LTExMiAxMTIgNTAuNCAxMTIgMTEyIDExMnptMCA0MGMtNzQuMiAwLTIyNCAzNy44LTIyNCAxMTJ2NTZoNDQ4di01NmMwLTc0LjItMTQ5LjgtMTEyLTIyNC0xMTJ6IiBmaWxsPSIjODJhZWZmIi8+PC9zdmc+"></ion-img>
                        </ng-template>
                    </ion-thumbnail>
                    <ion-progress-bar [value]="uploadPercent | async" *ngIf="showProgress"></ion-progress-bar>
                    <ion-label>
                        <h2>{{ offer.title }}</h2>
                        <ion-chip outline>
                            <ion-icon name="time-outline"></ion-icon>
                            <ion-label>{{ (offer.durations !== 60) ? offer.durations + ' mins' : offer.durations + ' hour' }}</ion-label>
                        </ion-chip>
                        <ion-chip outline>
                            <ion-icon name="cash-outline"></ion-icon>
                            <ion-label>{{ offer.charges | currency:defaultCurrency:'symbol-narrow' }}</ion-label>
                        </ion-chip>
                    </ion-label>
                    <ion-icon name="create-outline" slot="end" (click)="onEdit(offer)"></ion-icon>
                </ion-item>
            </ion-card-content>
        </ng-container>
        <ng-template #elseOffer>
            <ion-card-header>
                <ion-card-title>
                    <ion-card-subtitle>
                        <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
                    </ion-card-subtitle>
                    <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
                </ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <ion-skeleton-text animated></ion-skeleton-text>
                <ion-item lines="none">
                    <ion-thumbnail slot="start">
                        <ion-skeleton-text animated></ion-skeleton-text>
                    </ion-thumbnail>
                    <ion-label>
                        <h2>
                            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                        </h2>
                        <ion-chip outline>
                            <ion-icon name="time-outline"></ion-icon>
                            <ion-label>
                                <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
                            </ion-label>
                        </ion-chip>
                        <ion-chip outline>
                            <ion-icon name="cash-outline"></ion-icon>
                            <ion-label>
                                <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
                            </ion-label>
                        </ion-chip>
                    </ion-label>
                </ion-item>
            </ion-card-content>
        </ng-template>
    </ion-card>

    <ion-card class="ion-no-padding ion-no-margin no-box-shadow">
        <ng-container *ngIf="offerChilds$ | async as offerChilds; else elseOffer">
            <ion-list>
                <ion-list-header>
                    <ion-label>Select {{offerType === 'single' ? 'Package' : 'Offer'}}</ion-label>
                </ion-list-header>
                <ion-item-sliding *ngFor="let type of offerChilds" #slidingItem>
                    <ion-item lines="none">
                        <ion-thumbnail slot="start">
                            <ion-img [src]="type.imageUrl"></ion-img>
                        </ion-thumbnail>
                        <ion-label>
                            <h2>{{ type.title }}</h2>
                            <ion-chip outline>
                                <ion-icon name="time-outline"></ion-icon>
                                <ion-label>{{ (type.durations !== 60) ? type.durations + ' mins' : type.durations + ' hour' }}</ion-label>
                            </ion-chip>
                            <ion-chip outline>
                                <ion-icon name="cash-outline"></ion-icon>
                                <ion-label>{{ type.charges | currency:defaultCurrency:'symbol-narrow' }}</ion-label>
                            </ion-chip>
                        </ion-label>
                        <ion-checkbox slot="end" [checked]="checkOffer(type, offerItems)" (ionChange)="onSelect($event, type)"></ion-checkbox>
                    </ion-item>
                </ion-item-sliding>
            </ion-list>
        </ng-container>
    </ion-card>
</ion-content>