<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-title>{{title | titlecase}}</ion-title>
        <ion-buttons slot="primary">
            <ion-button color="danger" (click)="onDismiss(false)">
                <ion-icon name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">{{title | titlecase}}</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-card class="ion-no-padding ion-no-margin no-box-shadow detail" color="secondary">
        <ng-container *ngIf="offer$ | async as offer; else elseOffer">
            <ion-card-header>
                <ion-card-subtitle>Posted: {{offer.timestamp.toDate() | date}}</ion-card-subtitle>
                <ion-card-title>{{offer.title}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                {{offer.description}}
                <ion-item lines="none" color="tertiary">
                    <ion-thumbnail slot="start">
                        <ng-container *ngIf="offer.imageUrl; else elseDummy">
                            <img (click)="onPickSource()" [src]="offer.imageUrl" />
                        </ng-container>
                        <ng-template #elseDummy>
                            <ion-img (click)="onPickSource()" src="/assets/images/icon-logo.png"></ion-img>
                        </ng-template>
                    </ion-thumbnail>
                    <ion-progress-bar [value]="uploadPercent | async" *ngIf="showProgress"></ion-progress-bar>
                    <ion-label>
                        <h2>{{ offer.title }}</h2>
                        <ion-chip outline>
                            <ion-icon name="time-outline"></ion-icon>
                            <ion-label>{{ offer.durations | numberToTime }}</ion-label>
                        </ion-chip>
                        <ion-chip outline>
                            <ion-icon name="cash-outline"></ion-icon>
                            <ion-label>{{ offer.charges | currency:defaultCurrency:'symbol-narrow' }}</ion-label>
                        </ion-chip>
                    </ion-label>
                    <ion-icon name="create-outline" slot="end" (click)="onEdit(offer)"></ion-icon>
                </ion-item>
                <ng-container *ngIf="offerType === 'single'; else elseChilds">
                    <ng-container *ngIf="offerParents$ | async as offerParents; else elseParentOffer">
                        <ion-list-header>
                            <ion-label>Package linked</ion-label>
                        </ion-list-header>
                        <ion-item lines="none" color="tertiary">
                            <ion-thumbnail *ngFor="let offerParent of offerParents">
                                <ng-container *ngIf="offerParent.imageUrl; else elseParentDummy">
                                    <img [src]="offerParent.imageUrl" />
                                </ng-container>
                                <ng-template #elseParentDummy>
                                    <ion-img src="/assets/images/icon-logo.png"></ion-img>
                                </ng-template>
                            </ion-thumbnail>
                        </ion-item>
                    </ng-container>
                </ng-container>
                <ng-template #elseChilds>
                    <ion-list-header>
                        <ion-label>Services included</ion-label>
                    </ion-list-header>
                    <ion-item lines="none" color="tertiary">
                        <ion-thumbnail *ngFor="let child of offer.childs">
                            <ng-container *ngIf="child.imageUrl; else elseParentDummy">
                                <img [src]="child.imageUrl" />
                            </ng-container>
                            <ng-template #elseParentDummy>
                                <ion-img src="/assets/images/icon-logo.png"></ion-img>
                            </ng-template>
                        </ion-thumbnail>
                    </ion-item>
                </ng-template>
            </ion-card-content>
        </ng-container>
        <ng-template #elseOffer>
            <ion-card-header>
                <ion-card-title>
                    <ion-card-subtitle>
                        <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
                    </ion-card-subtitle>
                    <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
                </ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <ion-skeleton-text animated></ion-skeleton-text>
                <ion-item lines="none">
                    <ion-thumbnail slot="start">
                        <ion-skeleton-text animated></ion-skeleton-text>
                    </ion-thumbnail>
                    <ion-label>
                        <h2>
                            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                        </h2>
                        <ion-chip outline>
                            <ion-icon name="time-outline"></ion-icon>
                            <ion-label>
                                <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
                            </ion-label>
                        </ion-chip>
                        <ion-chip outline>
                            <ion-icon name="cash-outline"></ion-icon>
                            <ion-label>
                                <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
                            </ion-label>
                        </ion-chip>
                    </ion-label>
                </ion-item>
            </ion-card-content>
        </ng-template>
    </ion-card>

    <ion-card class="ion-no-padding ion-no-margin no-box-shadow">
        <ion-card-content>
            <ng-container *ngIf="offerChilds$ | async as offerChilds; else elseOffer">
                <ion-list>
                    <ion-list-header>
                        <ion-label>Select {{offerType === 'single' ? 'Package' : 'Offer'}}</ion-label>
                    </ion-list-header>
                    <ion-item-sliding *ngFor="let offerChild of offerChilds" #slidingItem>
                        <ion-item lines="none">
                            <ion-thumbnail slot="start">
                                <ng-container *ngIf="offerChild.imageUrl; else elseParentDummy">
                                    <img [src]="offerChild.imageUrl" />
                                </ng-container>
                                <ng-template #elseParentDummy>
                                    <ion-img src="/assets/images/icon-logo.png"></ion-img>
                                </ng-template>
                            </ion-thumbnail>
                            <ion-label>
                                <h2>{{ offerChild.title }}</h2>
                                <ion-chip outline>
                                    <ion-icon name="time-outline"></ion-icon>
                                    <ion-label>{{ offerChild.durations | numberToTime }}</ion-label>
                                </ion-chip>
                                <ion-chip outline>
                                    <ion-icon name="cash-outline"></ion-icon>
                                    <ion-label>{{ offerChild.charges | currency:defaultCurrency:'symbol-narrow' }}</ion-label>
                                </ion-chip>
                            </ion-label>
                            <ion-checkbox slot="end" [checked]="checkOffer(offerChild, offerItems)" (ionChange)="onSelect($event, offerChild, offerType)" *ngIf="offerType === 'package'"></ion-checkbox>
                        </ion-item>
                    </ion-item-sliding>
                </ion-list>
            </ng-container>
        </ion-card-content>
    </ion-card>
</ion-content>