<ion-content>

    <ion-segment [value]="bookingStatus" (ionChange)="statusChanged($event)">
        <ion-segment-button value="pending">
            <ion-label>Pending</ion-label>
        </ion-segment-button>
        <ion-segment-button value="">
            <ion-label>All</ion-label>
        </ion-segment-button>
    </ion-segment>

    <ng-container *ngIf="bookings$ | async; let bookings; else loadingBookings">
        <ion-list>
            <ion-item *ngIf="bookingStatus != 'pending'" (ionChange)="statusChanged($event)">
                <ion-label>Filter status</ion-label>
                <ion-select placeholder="Select One">
                    <ion-select-option value="">All</ion-select-option>
                    <ion-select-option value="declined">Declined</ion-select-option>
                    <ion-select-option value="canceled">Canceled</ion-select-option>
                    <ion-select-option value="accepted">Accepted</ion-select-option>
                    <ion-select-option value="completed">Completed</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item-sliding *ngFor="let booking of bookings" #slidingItem>
                <ion-item lines="none" button>
                    <ion-avatar slot="start">
                        <ng-container *ngIf="booking.userDetail.photoURL; else elseDummy">
                            <img [src]="booking.userDetail.photoURL" />
                        </ng-container>
                        <ng-template #elseDummy>
                            <ion-img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48cGF0aCBmaWxsPSIjYzVkYmZmIiBkPSJNMCAwaDUxMnY1MTJIMHoiLz48cGF0aCBkPSJNMjU2IDMwNGM2MS42IDAgMTEyLTUwLjQgMTEyLTExMlMzMTcuNiA4MCAyNTYgODBzLTExMiA1MC40LTExMiAxMTIgNTAuNCAxMTIgMTEyIDExMnptMCA0MGMtNzQuMiAwLTIyNCAzNy44LTIyNCAxMTJ2NTZoNDQ4di01NmMwLTc0LjItMTQ5LjgtMTEyLTIyNC0xMTJ6IiBmaWxsPSIjODJhZWZmIi8+PC9zdmc+"></ion-img>
                        </ng-template>
                    </ion-avatar>
                    <ion-label class="ion-text-wrap">
                        <h2>{{ (booking.userDetail.name.firstname + ' ' + booking.userDetail.name.lastname) | titlecase }}</h2>
                        <p>{{ booking.bookingDetails.location }}</p>
                        <p>{{ booking.bookingDetails.scheduleDate.toDate() | date:'mediumDate' }} - {{ booking.bookingDetails.scheduleTime.toDate() | date:'shortTime' }}
                            <span [ngClass]="booking.bookingDetails.status">{{ booking.bookingDetails.status | uppercase }}</span></p>
                    </ion-label>
                    <!-- <ion-icon [name]="booking.usersCollection.gender === 'male' ? 'male-outline' : 'female-outline'" slot="end"></ion-icon> -->
                </ion-item>
                <ion-item-options side="end" [ngSwitch]="booking.bookingDetails.status">
                    <ng-container *ngSwitchCase="'accepted'">
                        <ion-item-option color="primary" (click)="onLocate(booking, slidingItem)">
                            <ion-icon name="navigate-outline" slot="icon-only"></ion-icon>
                        </ion-item-option>
                        <ion-item-option color="secondary" (click)="onComplete(booking, slidingItem)">
                            <ion-icon name="shield-checkmark-outline" slot="icon-only"></ion-icon>
                        </ion-item-option>
                    </ng-container>
                    <ng-container *ngSwitchCase="'canceled'">
                        <!-- only view details allowed -->
                        <ion-item-option color="primary" (click)="onPreview(booking.bookingDetails, slidingItem)">
                            <ion-icon name="eye-outline" slot="icon-only"></ion-icon>
                        </ion-item-option>
                    </ng-container>
                    <ng-container *ngSwitchCase="'completed'">
                        <!-- only view details allowed -->
                        <ion-item-option color="primary" (click)="onPreview(booking.bookingDetails, slidingItem)">
                            <ion-icon name="eye-outline" slot="icon-only"></ion-icon>
                        </ion-item-option>
                    </ng-container>
                    <ng-container *ngSwitchCase="'declined'">
                        <!-- no action from proffissional dashboard -->
                        <ion-item-option color="primary" (click)="onPreview(booking.bookingDetails, slidingItem)">
                            <ion-icon name="eye-outline" slot="icon-only"></ion-icon>
                        </ion-item-option>
                    </ng-container>
                    <ng-container *ngSwitchDefault>
                        <ion-item-option color="success" (click)="onAccept(booking, slidingItem)" [disabled]="currentBalance < commissionCharge">
                            <ion-icon name="checkmark-outline" slot="icon-only"></ion-icon>
                        </ion-item-option>
                        <ion-item-option color="danger" (click)="onDecline(booking, slidingItem)">
                            <ion-icon name="close-outline" slot="icon-only"></ion-icon>
                        </ion-item-option>
                    </ng-container>
                </ion-item-options>
            </ion-item-sliding>
        </ion-list>
    </ng-container>
    <ng-template #loadingBookings>
        <ion-item lines="none" *ngFor="let item of [1,2,3,4,5,6,7]">
            <ion-avatar slot="start">
                <ion-skeleton-text animated></ion-skeleton-text>
            </ion-avatar>
            <ion-label>
                <h3>
                    <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                </h3>
                <ion-chip outline>
                    <ion-label>
                        <ion-skeleton-text animated></ion-skeleton-text>
                    </ion-label>
                </ion-chip>
                <ion-chip outline>
                    <ion-label>
                        <ion-skeleton-text animated></ion-skeleton-text>
                    </ion-label>
                </ion-chip>
            </ion-label>
        </ion-item>
    </ng-template>
    <div id="container" class="ion-text-center" *ngIf="(bookings$ | async)?.length === 0 ">
        <ion-icon name="list-outline"></ion-icon>
        <p>No {{bookingStatus}} booking found</p>
    </div>
</ion-content>