<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/pages"></ion-back-button>
        </ion-buttons>
        <ion-title>Chat Rooms</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Chat Rooms</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-list>
        <ion-list-header>
            <ion-label>Recent Rooms</ion-label>
        </ion-list-header>
        <ng-container *ngIf="chatRooms$ | async; let chatRooms; else loadingRooms">
            <ng-container *ngIf="(chatRooms$ | async)?.length">

                <ion-item-sliding *ngFor="let chatRoom of chatRooms" #slidingItem>
                    <ion-item lines="full" (click)="openChat(chatRoom.id)" button>
                        <ion-label>
                            {{(chatRoom.name ? chatRoom.name : chatRoom.id) | titlecase}}
                            <p>{{ chatRoom.recentMessage ? chatRoom.recentMessage : '--'}}</p>
                        </ion-label>
                        <ng-container *ngIf="(chatRoom.id | chatCounter | async) > 0">
                            <ion-badge slot="end" color="danger">{{ chatRoom.id | chatCounter | async}}</ion-badge>
                        </ng-container>
                    </ion-item>
                    <ion-item-options side="end">
                        <ion-item-option color="primary" (click)="onRename(chatRoom.id, slidingItem)" [disabled]="!chatRoom.isOwner">
                            <ion-icon name="create-outline" slot="icon-only"></ion-icon>
                        </ion-item-option>
                        <ion-item-option color="danger" (click)="onDelete(chatRoom.id, slidingItem)" [disabled]="!chatRoom.isOwner">
                            <ion-icon name="trash-outline" slot="icon-only"></ion-icon>
                        </ion-item-option>
                    </ion-item-options>
                </ion-item-sliding>
            </ng-container>

        </ng-container>
        <ng-template #loadingRooms>
            <ion-item lines="none" *ngFor="let item of [1,2,3,4,5,6,7,8]">
                <ion-avatar slot="start">
                    <ion-skeleton-text animated></ion-skeleton-text>
                </ion-avatar>
                <ion-label>
                    <h2>
                        <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
                    </h2>
                    <p>
                        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                    </p>
                </ion-label>
            </ion-item>
        </ng-template>
    </ion-list>

    <ion-item lines="none" class="ion-text-center" *ngIf="!(chatRooms$ | async)?.length">
        <ion-label>
            <p>No rooms found! Create your room.</p>
        </ion-label>
    </ion-item>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="onCreate()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>