ion-header {
    ion-toolbar {
        --color: var(--ion-color-primary);
    }
}

ion-content {
    ion-list {
        ion-item {
            ion-label {
                p {
                    &.today {
                        position: relative;
                        font-weight: bold;
                        &:after {
                            content: " Today ";
                            background: #fcc201;
                            color: #fff;
                            padding: 3px;
                            position: absolute;
                            font-weight: normal;
                            right: 0;
                            top: -3px;
                        }
                    }
                }
            }
        }
    }
}