<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-title>Change Email</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="onDismiss(false)" color="danger">
                <ion-icon slot="icon-only" name="close-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="form" (submit)="onUpdate()">
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-item lines="none">
                        <ion-label class="ion-text-wrap">
                            <ion-text color="primary">
                                <p>Please remember your email once changed.</p>
                            </ion-text>
                        </ion-label>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label position="floating">Previos Password</ion-label>
                        <ion-input type="password" formControlName="oldPass"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label position="floating">New Email</ion-label>
                        <ion-input type="email" formControlName="email"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col>
                    <ion-button expand="block" type="submit">
                        Update
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>