ion-header {
    ion-toolbar {
        --background: radial-gradient(circle, var(--ion-color-secondary) 0%, var(--ion-color-primary) 100%);
        background: radial-gradient(circle, var(--ion-color-secondary) 0%, var(--ion-color-primary) 100%);
        padding: 0 10px;
        color: var(--ion-color-primary-contrast);
        &.segment {
            --background: var(--ion-color-secondary);
        }
    }
}

ion-content {
    background: transparent !important;
    ion-card {
        ion-card-content {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}