<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Dashboard</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="onOpenNotifications()">
                <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
            </ion-button>
            <ion-badge color="danger" *ngIf="(notificationCount$ | async) > 0">{{notificationCount$ | async}}</ion-badge>
        </ion-buttons>
    </ion-toolbar>
    <ng-container *ngIf="currentUser$ | async as user; else elseUserLoading">
        <ion-item lines="none">
            <ng-container *ngIf="user.photoURL; then loadAvatar; else loadDefault"></ng-container>
            <ng-template #loadAvatar>
                <ion-avatar slot="start">
                    <img [src]="user.photoURL" alt="">
                </ion-avatar>
            </ng-template>
            <ng-template #loadDefault>
                <ion-avatar slot="start">
                    <ion-icon name="person-outline" size="large"></ion-icon>
                </ion-avatar>
            </ng-template>

            <ion-label>
                <p>Welcome Back,</p>
                <h3>{{user.displayName !== null ? user.displayName : user.email}}</h3>
            </ion-label>
            <ion-note slot="end">{{user.emailVerified ? 'Verified' : 'Not Verified'}}</ion-note>
        </ion-item>
    </ng-container>
    <ng-template #elseUserLoading>
        <ion-item lines="none">
            <ion-avatar slot="start">
                <ion-skeleton-text animated></ion-skeleton-text>
            </ion-avatar>
            <ion-label>
                <p>
                    <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                </p>
                <h3>
                    <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                </h3>
            </ion-label>
            <ion-note slot="end">
                <ion-skeleton-text animated style="width: 10%"></ion-skeleton-text>
            </ion-note>
        </ion-item>
    </ng-template>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Dashboard</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-card class="wallet ion-margin-bottom">
        <ion-item>
            <ion-label>Wallet Balance</ion-label>
            <ion-buttons slot="end">
                <ion-button (click)="onPickMethods()">
                    <ion-icon slot="icon-only" name="add-outline"></ion-icon>
                </ion-button>
                <ion-button (click)="onViewReceipt()">
                    <ion-icon slot="icon-only" name="list-outline"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-item>
        <ion-card-content class="ion-text-center">
            <h1>{{ transactionBalance$ | async | currency:defaultCurrency:'symbol-narrow' }}</h1>
        </ion-card-content>
    </ion-card>

    <ion-item lines="none">
        <ion-searchbar (ionChange)="onChange($event)" (ionClear)="onClear()" placeholder="Search Name"></ion-searchbar>
        <ion-icon name="filter-outline" slot="end" (click)="onFilter()"></ion-icon>
        <ion-icon name="pin-outline" slot="end" (click)="onNearby()"></ion-icon>
    </ion-item>

    <ng-container *ngIf="professionals$ | async; let professionals; else loadingUsers">
        <ion-virtual-scroll [items]="professionals" approxItemHeight="320px">
            <ion-item-sliding *virtualItem="let item; let itemBounds = bounds;" #slidingItem>
                <ion-item lines="none" button (click)="onDeail(item, slidingItem)">
                    <ion-thumbnail slot="start">
                        <ng-container *ngIf="item.photoURL; else elseDummy">
                            <img [src]="item.photoURL" />
                        </ng-container>
                        <ng-template #elseDummy>
                            <ion-img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48cGF0aCBmaWxsPSIjYzVkYmZmIiBkPSJNMCAwaDUxMnY1MTJIMHoiLz48cGF0aCBkPSJNMjU2IDMwNGM2MS42IDAgMTEyLTUwLjQgMTEyLTExMlMzMTcuNiA4MCAyNTYgODBzLTExMiA1MC40LTExMiAxMTIgNTAuNCAxMTIgMTEyIDExMnptMCA0MGMtNzQuMiAwLTIyNCAzNy44LTIyNCAxMTJ2NTZoNDQ4di01NmMwLTc0LjItMTQ5LjgtMTEyLTIyNC0xMTJ6IiBmaWxsPSIjODJhZWZmIi8+PC9zdmc+"></ion-img>
                        </ng-template>
                    </ion-thumbnail>
                    <ion-label>
                        <h2>{{ (item.name.firstname + ' ' + item.name.lastname) | titlecase }} <small>- {{ item.classification }}</small></h2>
                        <ion-chip outline>
                            <ion-label>{{ item.id | counter:'single':'Service' | async}}</ion-label>
                        </ion-chip>
                        <ion-chip outline>
                            <ion-label>{{ item.id | counter:'package':'Package' | async}}</ion-label>
                        </ion-chip>
                    </ion-label>
                    <ion-note slot="end" [ngClass]="{'available': item.availability | weekDay}"></ion-note>
                </ion-item>
            </ion-item-sliding>
        </ion-virtual-scroll>
        <ion-item lines="none" class="ion-text-center" *ngIf="professionals.length === 0">
            <ion-label class="ion-text-wrap">
                <h3>Ooops! Sorry! We can't find any professionals near you.</h3>
                <p>But we can still help you find. Please contact us so we can assists you.</p>
                <ion-button color="primary" (click)="onReload()">Reload</ion-button>
            </ion-label>
        </ion-item>
    </ng-container>
    <ng-template #loadingUsers>
        <ion-item lines="none" *ngFor="let item of [1,2,3,4,5,6,7]">
            <ion-thumbnail slot="start">
                <ion-skeleton-text animated></ion-skeleton-text>
            </ion-thumbnail>
            <ion-label>
                <h3>
                    <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                </h3>
                <ion-chip outline>
                    <ion-label>
                        <ion-skeleton-text animated></ion-skeleton-text>
                    </ion-label>
                </ion-chip>
                <ion-chip outline>
                    <ion-label>
                        <ion-skeleton-text animated></ion-skeleton-text>
                    </ion-label>
                </ion-chip>
            </ion-label>
        </ion-item>
    </ng-template>
</ion-content>