<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-title>{{title | titlecase}}</ion-title>
        <ion-buttons slot="primary">
            <ion-button color="danger" (click)="onDismiss(false)">
                <ion-icon name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">{{title | titlecase}}</ion-title>
        </ion-toolbar>
    </ion-header>

    <!-- booking details -->
    <ng-container *ngIf="booking$ | async as booking; else elseBooking">
        <ion-card class="ion-no-padding ion-no-margin no-box-shadow details" color="secondary">
            <ion-card-header>
                <ion-card-subtitle>Scheduled: {{booking.booking.scheduleDate.toDate() | date:'mediumDate'}} - {{booking.booking.scheduleTime.toDate() | date:'shortTime'}} : ({{booking.booking.status}})
                </ion-card-subtitle>
                <ion-card-title>{{ (booking.profissional.name.firstname + ' ' + booking.profissional.name.lastname) | titlecase }} - <small>{{ booking.profissional.classification }}</small></ion-card-title>
            </ion-card-header>
            <ion-card-content>
                {{ booking.booking.location }}
                <ion-list-header>
                    <ion-label>Notes</ion-label>
                </ion-list-header>
                <ion-item class="ion-text-wrap" lines="none" color="tertiary">
                    <ion-label class="ion-text-wrap">
                        {{ booking.booking.notes }}
                    </ion-label>
                </ion-item>

                <ion-list-header>
                    <ion-label>Total charge</ion-label>
                </ion-list-header>
                <ion-item lines="none" color="tertiary">
                    <ion-label>
                        {{ booking.booking.charges | currency:defaultCurrency:'symbol-narrow' }}
                    </ion-label>
                </ion-item>

                <ion-list-header>
                    <ion-label>Service selected</ion-label>
                </ion-list-header>
                <ion-item lines="none" color="tertiary">
                    <ion-thumbnail *ngFor="let offer of booking.booking.offers">
                        <ng-container *ngIf="offer.imageUrl; else elseParentDummy">
                            <img [src]="offer.imageUrl" />
                        </ng-container>
                        <ng-template #elseParentDummy>
                            <ion-img src="/assets/images/icon-logo.png"></ion-img>
                        </ng-template>
                    </ion-thumbnail>
                </ion-item>
            </ion-card-content>
        </ion-card>

        <ng-container *ngIf="booking.booking.status === 'completed'">
            <ng-container *ngIf="feedbacks$ | async; let feedbacks; else loadingFeedbacks">
                <ion-list-header>
                    <ion-label>Feedbacks</ion-label>
                </ion-list-header>
                <ion-item lines="none" *ngFor="let feedback of feedbacks" color="tertiary" class="ion-padding">
                    <ion-label class="ion-text-wrap">
                        {{feedback.feedback}}
                    </ion-label>
                </ion-item>
                <ng-container *ngIf="feedbacks.length === 0">
                    <ion-item>
                        <ion-label>
                            No feedback given.
                        </ion-label>
                    </ion-item>
                </ng-container>
            </ng-container>
            <ng-template #loadingFeedbacks>
                <ion-item lines="none">
                    <ion-label>
                        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                    </ion-label>
                </ion-item>
            </ng-template>
            <form [formGroup]="form" (submit)="onCreate(booking.booking.id)" class="ion-padding">
                <ion-card class="ion-no-padding ion-no-margin no-box-shadow ion-no-border">
                    <ion-card-header>
                        <ion-card-subtitle>Please be honest to leave a feedback.</ion-card-subtitle>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-item lines="none">
                            <ion-label position="floating">Comments</ion-label>
                            <ion-textarea rows="3" formControlName="feedback"></ion-textarea>
                        </ion-item>
                        <ion-button expand="block" type="submit">Submit</ion-button>
                    </ion-card-content>
                </ion-card>
            </form>
        </ng-container>

    </ng-container>
    <ng-template #elseBooking>
        <ion-card color="secondary">
            <ion-card-header>
                <ion-card-subtitle>
                    <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
                </ion-card-subtitle>
                <ion-card-title>
                    <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                </ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                <ion-list-header>
                    <ion-label>Notes</ion-label>
                </ion-list-header>
                <ion-item class="ion-text-wrap" lines="none" color="tertiary">
                    <ion-label class="ion-text-wrap">
                        <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
                    </ion-label>
                </ion-item>

                <ion-list-header>
                    <ion-label>Total charge</ion-label>
                </ion-list-header>
                <ion-item lines="none" color="tertiary">
                    <ion-label>
                        <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
                    </ion-label>
                </ion-item>

                <ion-list-header>
                    <ion-label>Service selected</ion-label>
                </ion-list-header>
                <ion-item lines="none" color="tertiary">
                    <ion-thumbnail>
                        <ion-skeleton-text animated></ion-skeleton-text>
                    </ion-thumbnail>
                </ion-item>
            </ion-card-content>
        </ion-card>

    </ng-template>

</ion-content>